
/* RESET
--------*/
/*#region*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


html{
  box-sizing: border-box;
}


/*#endregion*/

/* BASIC FORMATTING
-------*/
html{
  font-size: 15px;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f4f4f4;
}

/*LINKS*/
a {
  text-decoration: none;
  outline: none;
}
a:hover {
  cursor: pointer;
  color: #cccccc;
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  border: 0;
  border: none;
}

ol {
  list-style: upper-roman;
  padding: .5em;
  margin-left: 2em;
}

/* FLEX
--------------------------*/
.row {
  display: flex;
  justify-content: space-around;
}


/* HELPER CLASSES
------------------------------------------------ */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  
}

.button_1 {
  height: 38px;
  background:  #e8491d;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}


/* COLOR */

.darkcolor {
  color: #35424a;
}
.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.orange {
  color: #e8491d;
}

/* MARGIN */

.m0 {
  margin: 0;
}

/* loop img */
.loop {
  width: 40%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.upper {
  text-transform: uppercase;
}

/* FONT SIZE */
.f-s-1 {
  font-size: 1em;
}

.f-s-2 {
  font-size: 1.25em;
}

.f-s-3 {
  font-size: 1.5em;
}

.f-s-4 {
  font-size: 1.75em;
}

.f-s-5 {
  font-size: 2em;
}

.bold {
  font-weight: bold;
}
.upper {
  text-transform: uppercase;
}



/* LAYOUT
---------------------------------------------------------------*/

/* Header */
header {
  background-color: #35424a;
  color: #ffffff;
  padding-top: 2em;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
  position: fixed; 
  width: 100%;
  z-index: 1;

}

header h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 80px;
  float: left;
}

header a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
}
nav ul {
  float: right;
 /*  margin-right: 20px; */
}
header li {
  padding: 0 20px 0 20px;
  line-height: 80px;  
  display: inline-block;
}
header .highlight, header .current a {
  color: #e8491d;
  font-weight: bold;
}


/* MENU */
.checkbtn {
  font-size: 30px;
  color: #ffffff;
  float: right; 
  line-height: 80px;
 /*  margin-right: 2em; */
  display: none; 
}
#check {
  display: none;
}

/* MAIN SHOWCASE */
#showcase {
  background-image: url("https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
  max-width: 100%;
  
}


#showcase h2 {
  margin-top: 100px;
  font-size: 3.75em;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 1.25em;
  text-shadow: .6px .6px #35424a;
}


/* NEWSLETTER */

#newsletter {
  padding: 20px;
  color: #ffffff; 
  background-color: #35424a;
}

#newsletter h3 {
  font-size: 1.5em;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 16.7em;
}


/* BOXES */

#boxes {
  margin-top: 20px;
  margin-right: 0;
}
#boxes .box {
  width: 100%;
  padding: 1em;
  text-align: center;
}

#boxes .box i {
  width: 90px;
  font-size: 10em;
  
}

#boxes .box h3 {
  font-weight: bold;

}
#boxes .container {
  padding-bottom: 20px;
}

/* POST */

.post-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding-top: 2em;
  
}

.post-item {
  padding: 1em;
}
.post-item h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.post-item small {
  font-size: .8em;
  color: #cccccc;
}
.post-item p {
  margin-bottom: 1em;
}
.post-item a {
  color: #e8491d;
}
.blog {
  padding-top: 6em;
}

/* ABOUT */

 #about h2 {
   font-size: 1.5em;
   font-weight: bold;
} 
.mypic {
  
}
.news {
  padding-top: 8em;
}


/* SIDEBAR */

#sidebar {
  height: 400px;
  margin-top: 4.2em;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}
article, aside {
  padding: 2em 3%;
}
 #sidebar h4 {
  margin: 17px 0;
  font-weight: bold;
}

/* FOOTER */

footer {
  padding: 1em 0;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
}

.social-media-icons i {
  margin-left: 2em; 
  font-size: 1.2em; 
  padding: 8px;
}

.social-media-icons :hover {
   color: #cccccc; 
}

.footer-text {
  text-align: center;  
} 
.footer-text p {
  margin-top: 1em;
}




/* MEDIA QUERIES
---------------------------------------------------------------------*/

/*FOR IPOD 1024px APPROCH
* @media (max-width: 1024px)
*/

@media (max-width: 1024px){
  /* HEADER */
  header {
    padding-top: 1.5em;
  }
  .logo {
    font-size: 1.8em;
  }
 
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #35424a;
    top: 105px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 5em 0;
    line-height: 2;
  }
  nav ul li a {
    font-size: 1.7em;
  }
  
  #check:checked ~ ul {
   
    left: 0;
    
  }
  /* SHOWCASE */
  #showcase p {
    font-size: 1.3em;
  }
  /* .post-item p {
    font-size: 1.2em;
   } */
   /* ABOUT */
  article {
    flex: 3;
  }
  aside {
    flex: 1;
  }
  
}


/* @media (max-width: 768px)
--------------------------------------------------------*/

@media (max-width: 768px){
  /* HEADER */
  header {
    padding-top: 1.25em;
    right: 0;
  }
  
  ul {
    top: 100px;
  }
  nav ul li {
   padding-right: 0;
  }
   
  /* NEWS LETTER */
   #newsletter input[type="email"] {
    align-items: center;
    width: 100%;
  } 
  .row {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; 
  }
 #newsletter form {
    width:100%;
    margin-bottom:5px;
  } 
  .button_1 {
    width:100%;
    font-size: 1.3em;
    margin-top: 10px;
    padding-right: 0;
    padding-left: 0;
  } 
  .box {
    width: 100%;
  }
  #boxes .box h3 {
    font-size: 1.5em;
  }
   /* .post-item p {
   font-size: 1.2em;
  } */
  /* ABOUT */
  #sidebar {
    margin-top: 0;
    width: 80%;
    
  }
  
  article, aside {
    padding: 4em 10%;
  }
   /* FOOTER */
  .social-media-icons i {
    font-size: 1.5em;
  }
 
}

/* @media (max-width: 414px)
---------------------------------------------------------------*/

@media (max-width: 414px){
  /* HEADER */
  header {
    padding-top: .5em;
    right: 0;
  }
  .logo {
    font-size: 1.6em;
  }
  ul {
    top: 90px;
  }
 
  nav ul li a {
    font-size: 1.35em;
  }
  nav ul li {
    margin: 50px 0;
    line-height: .9;
  }

  /* SHOWCASE */
  #showcase h2 {
    font-size: 2.5em;
  }
  #showcase p {
    font-size: 1em;
  }

 /* SHELPER CLASS */
 .row {
    flex-direction: column;
    align-items: center; 
  }

  /* NEWS LETTER */
  .news {
  padding-top: 6em;
}
  
  #newsletter h3 {
    margin-left: 1em;
  } 
  /* BOX */
  #boxes .box h3 {
    font-size: 1.7em;
  }

  /* ABOUT */
  article, aside {
    padding: 3em 5%;
  }

  /* FOOTER */
  .social-media-icons i {
    font-size: 1.3em;
  }
  footer {
    padding: 0.5em 0;
  }
 
}